 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE>Email Signature</TITLE>
<META content="text/html; charset=utf-8" http-equiv="Content-Type">
</HEAD>
<BODY style="font-size: 10pt; font-family: Roboto, sans-serif;">
<table style="width: 370px; font-size: 10pt; FONT-FAMILY: Arial, sans-serif;" cellpadding="0" cellspacing="0" border="0" class="ng-scope">
    <tbody>
        <tr>
            <td style="width: 102px; font-size: 10pt; font-family: Arial, sans-serif; border-right: 1px solid #929292; vertical-align: top;" valign="top">
                <a href="http://www.ahimsa.global" target="_blank"><img alt="Logo" width="80" border="0" style="border:0; height:auto; width:80px" class="ng-scope" src="https://sreejith1234.github.io/email_signature/logo.png"></a>
                
                <!-- ngIf: showField('logo') -->
                
            </td>
            <td style="width: 25px;"></td>
            <td style="width: 243px; font-size: 10pt; color:#444444; font-family: Arial, sans-serif; vertical-align: top;" valign="top">
                <p style="margin-bottom: 18px;">
                    <strong>
                        <span style="font-size: 10pt; font-family: Arial, sans-serif; color:#7a94cc;" class="ng-binding">Melisa Doe<br></span>
                        <!-- ngIf: showField('title') --><span ng-if="showField('title')" style="font-family: Arial, sans-serif; font-size:10pt; color:#7a94cc;" class="ng-binding ng-scope">Consultant<br></span><!-- end ngIf: showField('title') -->
                        <!-- ngIf: showField('company') --><span ng-if="showField('company')" style="font-family: Arial, sans-serif; font-size:10pt; color:#7a94cc;" class="ng-binding ng-scope">Ahimsa Global<br></span><!-- end ngIf: showField('company') -->
                    </strong>
                </p>
                <p style="FONT-FAMILY: Arial, sans-serif; padding: 0px; font-size: 9pt; line-height: 12pt; margin-bottom: 14px;">
                    <!-- ngIf: showField('phone') -->

                    <!-- ngIf: showField('mobile') --><span ng-if="showField('mobile')" class="ng-scope">
                        <span style="font-size: 9pt; color: #7a94cc;"><strong>M:</strong></span>
                        <span style="font-size: 9pt; color:#929292;" class="ng-binding"> ++32 121345323</span>
                    </span><!-- end ngIf: showField('mobile') -->            
                
                    <!-- ngIf: showField('email') --><span ng-if="showField('email')" style="FONT-FAMILY: Arial, sans-serif; font-size: 9pt; line-height: 12pt;" class="ng-scope">
                        <br>
                        <span style="font-size: 9pt;  line-height: 12pt; color: #7a94cc;"><strong>E:</strong></span>
                        <a href="mailto:melisa.doe@my-company.com" style="font-size: 9pt; color:#929292; text-decoration: none;"><span style="text-decoration: none; font-size: 9pt;  line-height: 12pt; color:#929292; FONT-FAMILY: Arial, sans-serif;" class="ng-binding">melisa.doe@my-company.com</span></a>
                    </span><!-- end ngIf: showField('email') -->
                    <!-- ngIf: showField('website') --><span ng-if="showField('website')" style="FONT-FAMILY: Arial, sans-serif; font-size: 9pt; line-height: 12pt;" class="ng-scope">
                        <br>
                        <span style="font-size: 9pt;  line-height: 12pt; color:#929292; FONT-FAMILY: Arial, sans-serif;"> <a href="http://www.ahimsa.global" target="_blank" style="color:#929292; text-decoration: none;"><span style="text-decoration: none; font-size: 9pt;  line-height: 12pt; color:#929292; FONT-FAMILY: Arial, sans-serif;" class="ng-binding">www.ahimsa.global</span></a></span>
                    </span><!-- end ngIf: showField('website') -->
                </p>
                
                <p style="margin-bottom: 14px;">
                    <!-- ngIf: showField('facebookURL') --><!-- ngIf: showField('twitterURL') --><!-- ngIf: showField('youtubeURL') --><!-- ngIf: showField('linkedinURL') --><!-- ngIf: showField('instagramURL') --><!-- ngIf: showField('pinterestURL') -->
                </p>
                <!-- ngIf: isAnyFieldEntered('address1, address2') --><p ng-if="isAnyFieldEntered('address1, address2')" class="ng-scope">
                    <!-- ngIf: showField('address1') --><span ng-if="showField('address1')" style="font-size: 9pt; line-height: 12pt;font-family: Arial, sans-serif; color: #929292;" class="ng-binding ng-scope">24 Bilsthorpe Lane, RD 4<!-- ngIf: showField('address2') --><span ng-if="showField('address2')" class="ng-scope">,</span><!-- end ngIf: showField('address2') --></span><!-- end ngIf: showField('address1') -->
                    <!-- ngIf: showField('address2') --><span ng-if="showField('address2')" style="font-size: 9pt; line-height: 12pt;font-family: Arial, sans-serif; color: #929292;" class="ng-binding ng-scope">Hamilton 3284.</span><!-- end ngIf: showField('address2') -->
                </p><!-- end ngIf: isAnyFieldEntered('address1, address2') -->
                
            </td>
        </tr>  
        <!-- ngIf: showField('banner') -->
        
        <tr>
            <!-- ngIf: showField('disclaimer') --><td colspan="3" ng-if="showField('disclaimer')" style="padding-top: 14px; text-align: justify; FONT-SIZE: 7pt; color: #929292; line-height: 10px;  max-width: 370px;" class="ng-binding ng-scope">
                  ∬ towards better health outcomes through technology, innovation, data analytics &amp; predictive algorithm ∬
            </td><!-- end ngIf: showField('disclaimer') -->
        </tr>
        
    </tbody>
</table>

</BODY>
</HTML>
